In [1]:
import requests
import json
import itertools
from itertools import groupby
import os
import pandas as pd
import datetime
from IPython.display import display
pd.set_option('display.max_columns', None)

In [54]:
path = r'C:\\Users\\Squatch\\Desktop\\Springboard Course\\Assignments\\Springboard\\Capstone 2\\Clean'
import glob
all_files = glob.glob(path + "/*.csv")
files= all_files[1:]
contracts= all_files[0]

### consolidate stat files and concatenate together
li = []
for filename in files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
final_df = pd.concat(li, axis=0, ignore_index=True)

final_df.drop(columns=['Unnamed: 0', 'TOI/60', 'TOIper60', 'S_Att', 'EV_A.1', 'PP_A.1', 'SH_A.1', 'TOI', 'EV_TOI'], inplace=True)
final_df.Player= final_df.Player.str.replace('*','')
final_df.Pos.fillna('G',inplace=True)


#### change ATOI and Even Strength TOI value errors

#2008
final_df.loc[1536,'TOI(EV)']= '04:00:00'
final_df.loc[1137,'TOI(EV)']= '14:00:00'
final_df.loc[1089,'TOI(EV)']= '12:00:00'
final_df.loc[1506,'TOI(EV)']= '12:00:00'

final_df.loc[1743,'ATOI']= '24:31:00'
final_df.loc[1076,'ATOI']= '24:37:00'
final_df.loc[1543,'ATOI']= '26:32:00'
final_df.loc[1578,'ATOI']= '24:30:00'
final_df.loc[1407,'ATOI']= '24:38:00'
final_df.loc[1302,'ATOI']= '25:34:00'
final_df.loc[1720,'ATOI']= '24:16:00'
final_df.loc[1409,'ATOI']= '24:22:00'
final_df.loc[1802,'ATOI']= '24:39:00'
final_df.loc[1599,'ATOI']= '24:32:00'
final_df.loc[1432,'ATOI']= '24:11:00'
final_df.loc[1475,'ATOI']= '26:55:00'
final_df.loc[1830,'ATOI']= '24:18:00'
final_df.loc[1568,'ATOI']= '26:56:00'
final_df.loc[1062,'ATOI']= '26:04:00'
final_df.loc[1282,'ATOI']= '24:32:00'
final_df.loc[1017,'ATOI']= '26:59:00'
final_df.loc[1029,'ATOI']= '25:07:00'
final_df.loc[979,'ATOI']=  '24:54:00'
final_df.loc[1680,'ATOI']= '24:51:00'
final_df.loc[1193,'ATOI']= '25:11:00'
final_df.loc[1023,'ATOI']= '24:46:00'
final_df.loc[1711,'ATOI']= '25:13:00'
final_df.loc[1090,'ATOI']= '24:19:00'
final_df.loc[952,'ATOI']=  '27:11:00'
final_df.loc[1374,'ATOI']= '24:49:00'
final_df.loc[1550,'ATOI']= '24:48:00'
final_df.loc[1202,'ATOI']= '25:46:00'

#2009
final_df.loc[2352,'TOI(EV)']= '07:00:00'
final_df.loc[2139,'TOI(EV)']= '07:00:00'
final_df.loc[2542,'TOI(EV)']= '12:00:00'
final_df.loc[2226,'TOI(EV)']= '10:00:00'

final_df.loc[2096,'ATOI']= '24:24:00'
final_df.loc[2321,'ATOI']= '25:47:00'
final_df.loc[1908,'ATOI']= '26:13:00'
final_df.loc[2460,'ATOI']= '25:56:00'
final_df.loc[2104,'ATOI']= '25:29:00'
final_df.loc[1901,'ATOI']= '25:55:00'
final_df.loc[1861,'ATOI']= '25:28:00'
final_df.loc[2599,'ATOI']= '25:42:00'
final_df.loc[2693,'ATOI']= '24:21:00'
final_df.loc[2202,'ATOI']= '26:36:00'
final_df.loc[2708,'ATOI']= '24:10:00'
final_df.loc[2005,'ATOI']= '24:59:00'
final_df.loc[2443,'ATOI']= '27:23:00'
final_df.loc[2681,'ATOI']= '24:45:00'
final_df.loc[2276,'ATOI']= '25:26:00'
final_df.loc[2489,'ATOI']= '24:29:00'
final_df.loc[2376,'ATOI']= '26:30:00'
final_df.loc[2437,'ATOI']= '24:14:00'
final_df.loc[1949,'ATOI']= '25:22:00'
final_df.loc[2470,'ATOI']= '24:14:00'

#2010
final_df.loc[3406,'TOI(EV)']= '17:00:00'
final_df.loc[3108,'TOI(EV)']= '14:00:00'
final_df.loc[3404,'TOI(EV)']= '14:00:00'
final_df.loc[3082,'TOI(EV)']= '13:00:00'
final_df.loc[3144,'TOI(EV)']= '11:00:00'
final_df.loc[3343,'TOI(EV)']= '12:00:00'
final_df.loc[3077,'TOI(EV)']= '08:00:00'

final_df.loc[3566,'ATOI']= '25:20:00'
final_df.loc[2995,'ATOI']= '25:12:00'
final_df.loc[2968,'ATOI']= '24:30:00'
final_df.loc[2976,'ATOI']= '24:35:00'
final_df.loc[3487,'ATOI']= '25:12:00'
final_df.loc[2862,'ATOI']= '24:47:00'
final_df.loc[3453,'ATOI']= '25:44:00'
final_df.loc[3370,'ATOI']= '24:32:00'
final_df.loc[3321,'ATOI']= '25:18:00'
final_df.loc[3550,'ATOI']= '25:19:00'
final_df.loc[2890,'ATOI']= '25:39:00'
final_df.loc[3327,'ATOI']= '25:01:00'
final_df.loc[2830,'ATOI']= '25:26:00'
final_df.loc[2807,'ATOI']= '25:03:00'
final_df.loc[3094,'ATOI']= '26:53:00'
final_df.loc[2913,'ATOI']= '24:17:00'
final_df.loc[3155,'ATOI']= '24:02:00'
final_df.loc[2779,'ATOI']= '25:59:00'
final_df.loc[3410,'ATOI']= '24:23:00'
final_df.loc[3587,'ATOI']= '24:23:00'
final_df.loc[2787,'ATOI']= '26:14:00'
final_df.loc[3534,'ATOI']= '24:18:00'

#2011
final_df.loc[4141,'TOI(EV)']= '13:00:00'
final_df.loc[3931,'TOI(EV)']= '13:00:00'
final_df.loc[4422,'TOI(EV)']= '13:00:00'
final_df.loc[3818,'TOI(EV)']= '13:00:00'
final_df.loc[4091,'TOI(EV)']= '10:00:00'
final_df.loc[3622,'TOI(EV)']= '07:00:00'
final_df.loc[4277,'TOI(EV)']= '14:00:00'

final_df.loc[4310,'ATOI']= '24:43:00'
final_df.loc[3715,'ATOI']= '26:54:00'
final_df.loc[3998,'ATOI']= '25:19:00'
final_df.loc[4002,'ATOI']= '26:54:00'
final_df.loc[4226,'ATOI']= '25:17:00'
final_df.loc[4114,'ATOI']= '24:44:00'
final_df.loc[3710,'ATOI']= '24:07:00'
final_df.loc[4418,'ATOI']= '24:09:00'
final_df.loc[4477,'ATOI']= '24:48:00'
final_df.loc[4064,'ATOI']= '24:50:00'
final_df.loc[3875,'ATOI']= '24:04:00'
final_df.loc[3791,'ATOI']= '24:54:00'
final_df.loc[4315,'ATOI']= '24:02:00'
final_df.loc[3727,'ATOI']= '25:00:00'
final_df.loc[4229,'ATOI']= '24:44:00'
final_df.loc[4382,'ATOI']= '24:18:00'
final_df.loc[4028,'ATOI']= '24:26:00'
final_df.loc[3682,'ATOI']= '25:35:00'
final_df.loc[3675,'ATOI']= '25:57:00'
final_df.loc[3883,'ATOI']= '26:15:00'
final_df.loc[3636,'ATOI']= '25:33:00'
final_df.loc[4448,'ATOI']= '26:10:00'
final_df.loc[4386,'ATOI']= '26:30:00'

#2012
final_df.loc[5064,'TOI(EV)']= '09:00:00'
final_df.loc[4820,'TOI(EV)']= '13:00:00'
final_df.loc[4705,'TOI(EV)']= '13:00:00'
final_df.loc[5279,'TOI(EV)']= '14:00:00'
final_df.loc[4625,'TOI(EV)']= '14:00:00'
final_df.loc[5137,'TOI(EV)']= '14:00:00'
final_df.loc[4933,'TOI(EV)']= '11:00:00'
final_df.loc[5123,'TOI(EV)']= '17:00:00'
final_df.loc[4881,'TOI(EV)']= '19:00:00'
final_df.loc[4972,'TOI(EV)']= '19:00:00'
final_df.loc[4982,'TOI(EV)']= '21:00:00'

final_df.loc[4715,'ATOI']= '24:00:00'
final_df.loc[4771,'ATOI']= '24:00:00'
final_df.loc[4607,'ATOI']= '26:25:00'
final_df.loc[4877,'ATOI']= '27:09:00'
final_df.loc[4881,'ATOI']= '24:07:00'
final_df.loc[5237,'ATOI']= '27:17:00'
final_df.loc[5269,'ATOI']= '24:06:00'
final_df.loc[4780,'ATOI']= '24:51:00'
final_df.loc[5077,'ATOI']= '25:11:00'
final_df.loc[4602,'ATOI']= '24:24:00'
final_df.loc[5079,'ATOI']= '25:07:00'
final_df.loc[4859,'ATOI']= '25:58:00'
final_df.loc[4695,'ATOI']= '25:06:00'
final_df.loc[4619,'ATOI']= '24:56:00'
final_df.loc[5297,'ATOI']= '25:55:00'
final_df.loc[4693,'ATOI']= '25:11:00'
final_df.loc[4968,'ATOI']= '24:08:00'
final_df.loc[4943,'ATOI']= '25:38:00'
final_df.loc[5310,'ATOI']= '25:01:00'
final_df.loc[4907,'ATOI']= '24:44:00'
final_df.loc[4573,'ATOI']= '24:38:00'
final_df.loc[4982,'ATOI']= '24:21:00'
final_df.loc[4674,'ATOI']= '26:24:00'
final_df.loc[4972,'ATOI']= '25:20:00'
final_df.loc[5208,'ATOI']= '24:27:00'
final_df.loc[4762,'ATOI']= '25:25:00'
final_df.loc[4911,'ATOI']= '24:22:00'

#2013
final_df.loc[5512,'TOI(EV)']= '07:00:00'
final_df.loc[5372,'TOI(EV)']= '18:00:00'
final_df.loc[5687,'TOI(EV)']= '10:00:00'
final_df.loc[5886,'TOI(EV)']= '09:00:00'
final_df.loc[5436,'TOI(EV)']= '07:00:00'

final_df.loc[5669,'ATOI']= '25:01:00'
final_df.loc[6113,'ATOI']= '24:37:00'
final_df.loc[5821,'ATOI']= '24:38:00'
final_df.loc[5746,'ATOI']= '24:39:00'
final_df.loc[5466,'ATOI']= '24:39:00'
final_df.loc[5774,'ATOI']= '24:19:00'
final_df.loc[6207,'ATOI']= '24:09:00'
final_df.loc[5459,'ATOI']= '24:31:00'
final_df.loc[5805,'ATOI']= '24:14:00'
final_df.loc[5724,'ATOI']= '24:41:00'
final_df.loc[5631,'ATOI']= '24:19:00'
final_df.loc[5846,'ATOI']= '24:49:00'
final_df.loc[5647,'ATOI']= '24:35:00'
final_df.loc[5835,'ATOI']= '24:34:00'
final_df.loc[5413,'ATOI']= '24:03:00'
final_df.loc[5426,'ATOI']= '24:04:00'
final_df.loc[6118,'ATOI']= '29:25:00'
final_df.loc[6180,'ATOI']= '26:54:00'
final_df.loc[5552,'ATOI']= '25:54:00'
final_df.loc[5960,'ATOI']= '25:22:00'
final_df.loc[5831,'ATOI']= '25:14:00'
final_df.loc[5532,'ATOI']= '25:43:00'
final_df.loc[5622,'ATOI']= '25:14:00'
final_df.loc[5735,'ATOI']= '26:25:00'
final_df.loc[5742,'ATOI']= '27:04:00'
final_df.loc[5452,'ATOI']= '26:57:00'

#2014
final_df.loc[6858,'TOI(EV)']= '08:00:00'
final_df.loc[6634,'TOI(EV)']= '11:00:00'
final_df.loc[6705,'TOI(EV)']= '17:00:00'
final_df.loc[6696,'TOI(EV)']= '10:00:00'
final_df.loc[6784,'TOI(EV)']= '12:00:00'

final_df.loc[6627,'ATOI']= '27:15:00'
final_df.loc[7075,'ATOI']= '24:39:00'
final_df.loc[7067,'ATOI']= '26:22:00'
final_df.loc[6840,'ATOI']= '25:25:00'
final_df.loc[7001,'ATOI']= '26:12:00'
final_df.loc[6436,'ATOI']= '25:13:00'
final_df.loc[6313,'ATOI']= '25:12:00'
final_df.loc[6506,'ATOI']= '25:10:00'
final_df.loc[6314,'ATOI']= '24:10:00'
final_df.loc[6609,'ATOI']= '24:10:00'
final_df.loc[7004,'ATOI']= '29:04:00'
final_df.loc[6416,'ATOI']= '29:00:00'
final_df.loc[6456,'ATOI']= '24:26:00'
final_df.loc[6608,'ATOI']= '24:25:00'
final_df.loc[6620,'ATOI']= '26:28:00'
final_df.loc[6631,'ATOI']= '25:34:00'
final_df.loc[6687,'ATOI']= '25:29:00'
final_df.loc[6775,'ATOI']= '24:38:00'
final_df.loc[6719,'ATOI']= '24:55:00'

#2015
final_df.loc[7829,'TOI(EV)']= '17:00:00'
final_df.loc[7468,'TOI(EV)']= '13:00:00'
final_df.loc[7337,'TOI(EV)']= '10:00:00'
final_df.loc[7791,'TOI(EV)']= '11:00:00'
final_df.loc[7645,'TOI(EV)']= '11:00:00'

final_df.loc[7193,'ATOI']= '25:52:00'
final_df.loc[7965,'ATOI']= '25:23:00'
final_df.loc[7491,'ATOI']= '25:29:00'
final_df.loc[7679,'ATOI']= '24:40:00'
final_df.loc[7297,'ATOI']= '24:27:00'
final_df.loc[7565,'ATOI']= '26:57:00'
final_df.loc[7218,'ATOI']= '24:06:00'
final_df.loc[7480,'ATOI']= '24:11:00'
final_df.loc[7133,'ATOI']= '25:05:00'
final_df.loc[7325,'ATOI']= '24:03:00'
final_df.loc[7499,'ATOI']=' 28:58:00'
final_df.loc[7903,'ATOI']= '28:36:00'
final_df.loc[7787,'ATOI']= '25:17:00'
final_df.loc[7899,'ATOI']= '26:22:00'
final_df.loc[7196,'ATOI']= '25:12:00'
final_df.loc[7504,'ATOI']= '25:14:00'
final_df.loc[7281,'ATOI']= '28:01:00'
final_df.loc[7304,'ATOI']= '24:46:00'
final_df.loc[7738,'ATOI']= '26:18:00'
final_df.loc[7180,'ATOI']= '25:15:00'
final_df.loc[7372,'ATOI']= '24:47:00'

#2016
final_df.loc[8733,'TOI(EV)']= '12:00:00'
final_df.loc[8135,'TOI(EV)']= '12:00:00'
final_df.loc[8578,'TOI(EV)']= '14:00:00'
final_df.loc[8500,'TOI(EV)']= '12:00:00'
final_df.loc[8398,'TOI(EV)']= '20:00:00'
final_df.loc[8070,'TOI(EV)']= '09:00:00'
final_df.loc[8023,'TOI(EV)']= '08:00:00'
final_df.loc[8831,'TOI(EV)']= '17:00:00'
final_df.loc[8109,'TOI(EV)']= '10:00:00'
final_df.loc[8763,'TOI(EV)']= '09:00:00'
final_df.loc[8731,'TOI(EV)']= '13:00:00'
final_df.loc[8801,'TOI(EV)']= '17:00:00'

final_df.loc[8381,'ATOI']= '25:04:00'
final_df.loc[8768,'ATOI']= '24:02:00'
final_df.loc[8854,'ATOI']= '25:04:00'
final_df.loc[8797,'ATOI']= '26:55:00'
final_df.loc[8631,'ATOI']= '25:17:00'
final_df.loc[8823,'ATOI']= '24:58:00'
final_df.loc[8398,'ATOI']= '25:37:00'
final_df.loc[8510,'ATOI']= '24:21:00'
final_df.loc[8328,'ATOI']= '24:30:00'
final_df.loc[8203,'ATOI']= '24:37:00'
final_df.loc[8091,'ATOI']= '24:52:00'
final_df.loc[8181,'ATOI']= '27:09:00'
final_df.loc[8094,'ATOI']= '27:27:00'
final_df.loc[8241,'ATOI']= '24:51:00'
final_df.loc[8678,'ATOI']= '26:28:00'
final_df.loc[8197,'ATOI']= '24:19:00'
final_df.loc[8794,'ATOI']= '24:24:00'
final_df.loc[8457,'ATOI']= '25:31:00'
final_df.loc[8392,'ATOI']= '26:50:00'

#2017
final_df.loc[9332,'TOI(EV)']= '17:00:00'
final_df.loc[9183,'TOI(EV)']= '16:00:00'
final_df.loc[9128,'TOI(EV)']= '10:00:00'
final_df.loc[8999,'TOI(EV)']= '20:00:00'
final_df.loc[9582,'TOI(EV)']= '20:00:00'
final_df.loc[9700,'TOI(EV)']= '14:00:00'
final_df.loc[8911,'TOI(EV)']= '08:00:00'
final_df.loc[9002,'TOI(EV)']= '11:00:00'
final_df.loc[9276,'TOI(EV)']= '14:00:00'
final_df.loc[9350,'TOI(EV)']= '12:00:00'
final_df.loc[9345,'TOI(EV)']= '12:00:00'
final_df.loc[9153,'TOI(EV)']= '14:00:00'

final_df.loc[9768,'ATOI']= '24:29:00'
final_df.loc[9109,'ATOI']= '24:17:00'
final_df.loc[9582,'ATOI']= '26:30:00'
final_df.loc[9306,'ATOI']= '26:44:00'
final_df.loc[9295,'ATOI']= '24:28:00'
final_df.loc[9286,'ATOI']= '25:26:00'
final_df.loc[9238,'ATOI']= '25:51:00'
final_df.loc[9326,'ATOI']= '24:04:00'
final_df.loc[9155,'ATOI']= '24:51:00'
final_df.loc[9008,'ATOI']= '24:47:00'
final_df.loc[9179,'ATOI']= '24:47:00'
final_df.loc[8995,'ATOI']= '25:15:00'
final_df.loc[9372,'ATOI']= '25:20:00'
final_df.loc[9746,'ATOI']= '25:21:00'
final_df.loc[9690,'ATOI']= '24:07:00'
final_df.loc[8999,'ATOI']= '24:20:00'
final_df.loc[9556,'ATOI']= '24:09:00'
final_df.loc[9292,'ATOI']= '24:36:00'
final_df.loc[9670,'ATOI']= '24:33:00'
final_df.loc[9541,'ATOI']= '25:44:00'
final_df.loc[9092,'ATOI']= '26:50:00'
final_df.loc[9693,'ATOI']= '26:47:00'

#2018
final_df.loc[10600,'TOI(EV)']= '12:00:00'
final_df.loc[9980,'TOI(EV)']= '21:00:00'
final_df.loc[10272,'TOI(EV)']= '09:00:00'
final_df.loc[9859,'TOI(EV)']= '09:00:00'
final_df.loc[9852,'TOI(EV)']= '13:00:00'
final_df.loc[10636,'TOI(EV)']= '13:00:00'
final_df.loc[10659,'TOI(EV)']= '16:00:00'
final_df.loc[10171,'TOI(EV)']= '14:00:00'
final_df.loc[9985,'TOI(EV)']= '14:00:00'

final_df.loc[10282,'ATOI']= '24:00:00'
final_df.loc[10071,'ATOI']= '24:14:00'
final_df.loc[9907,'ATOI']= '24:17:00'
final_df.loc[10568,'ATOI']= '24:09:00'
final_df.loc[10439,'ATOI']= '24:05:00'
final_df.loc[10595,'ATOI']= '26:42:00'
final_df.loc[9980,'ATOI']= '26:36:00'
final_df.loc[10010,'ATOI']= '24:01:00'
final_df.loc[10217,'ATOI']= '24:32:00'
final_df.loc[10482,'ATOI']= '24:38:00'
final_df.loc[9999,'ATOI']= '24:34:00'
final_df.loc[10278,'ATOI']= '24:20:00'
final_df.loc[9894,'ATOI']= '25:04:00'
final_df.loc[10199,'ATOI']= '24:29:00'
final_df.loc[10188,'ATOI']= '25:10:00'
final_df.loc[10453,'ATOI']= '25:07:00'
final_df.loc[10271,'ATOI']= '25:58:00'
final_df.loc[10186,'ATOI']= '25:49:00'
final_df.loc[9886,'ATOI']= '24:22:00'
final_df.loc[9883,'ATOI']= '25:06:00'


#2019
final_df.loc[11232,'TOI(EV)']= '10:00:00'
final_df.loc[11276,'TOI(EV)']= '10:00:00'
final_df.loc[11490,'TOI(EV)']= '13:00:00'
final_df.loc[10705,'TOI(EV)']= '09:00:00'
final_df.loc[11003,'TOI(EV)']= '12:00:00'
final_df.loc[10793,'TOI(EV)']= '11:00:00'
final_df.loc[11241,'TOI(EV)']= '10:00:00'
final_df.loc[10839,'TOI(EV)']= '13:00:00'

final_df.loc[11536,'ATOI']= '24:00:00'
final_df.loc[11030,'ATOI']= '24:04:00'
final_df.loc[11115,'ATOI']= '25:25:00'
final_df.loc[10789,'ATOI']= '25:25:00'
final_df.loc[10798,'ATOI']= '24:38:00'
final_df.loc[11471,'ATOI']= '24:38:00'
final_df.loc[11338,'ATOI']= '24:51:00'
final_df.loc[10813,'ATOI']= '26:00:00'
final_df.loc[11169,'ATOI']= '25:44:00'
final_df.loc[11086,'ATOI']= '25:47:00'
final_df.loc[11325,'ATOI']= '24:11:00'
final_df.loc[11356,'ATOI']= '24:12:00'
final_df.loc[10881,'ATOI']= '25:49:00'
final_df.loc[11105,'ATOI']= '24:23:00'
final_df.loc[11098,'ATOI']= '24:31:00'
final_df.loc[11084,'ATOI']= '25:17:00'

#2020
final_df.loc[12118,'ATOI']= '24:00:00'
final_df.loc[11922,'ATOI']= '24:58:00'
final_df.loc[12240,'ATOI']= '25:00:00'
final_df.loc[12406,'ATOI']= '24:46:00'
final_df.loc[11801,'ATOI']= '25:05:00'
final_df.loc[11972,'ATOI']= '25:14:00'
final_df.loc[11778,'ATOI']= '26:23:00'
final_df.loc[12064,'ATOI']= '24:39:00'
final_df.loc[12182,'ATOI']= '25:38:00'
final_df.loc[11820,'ATOI']= '24:16:00'
final_df.loc[12228,'ATOI']= '24:26:00'
final_df.loc[11680,'ATOI']= '26:08:00'
final_df.loc[11705,'ATOI']= '26:17:00'
final_df.loc[12448,'ATOI']= '24:22:00'
final_df.loc[11977,'ATOI']= '24:21:00'
final_df.loc[12096,'ATOI']= '24:19:00'
final_df.loc[11838,'ATOI']= '24:42:00'
final_df.loc[11919,'ATOI']= '25:03:00'

#fix names
final_df=final_df.replace(to_replace='Jake Debrusk', value='Jake DeBrusk')
final_df=final_df.replace(to_replace='Nick Paul', value='Nicholas Paul')
final_df=final_df.replace(to_replace='Anthony DeAngelo', value='Anthony Deangelo')
final_df=final_df.replace(to_replace='Mitch Marner', value='Mitchell Marner')
final_df=final_df.replace(to_replace='Zach Werenski', value='Zachary Werenski')
final_df=final_df.replace(to_replace='Nic Petan', value='Nicolas Petan')
final_df=final_df.replace(to_replace='Boo Nieves', value='Cristoval Nieves')
final_df=final_df.replace(to_replace='Josh Morrissey', value='Joshua Morrissey')
final_df=final_df.replace(to_replace='Matt Benning', value='Matthew Benning')
final_df=final_df.replace(to_replace='Mike Matheson', value='Michael Matheson')
final_df=final_df.replace(to_replace='Calvin de Haan', value='Calvin De Haan')
final_df=final_df.replace(to_replace='Evgenii Dadonov', value='Evgeni Dadonov')
final_df=final_df.replace(to_replace='Jacob de La Rose', value='Jacob De La Rose')
final_df=final_df.replace(to_replace='Matthew Dumba', value='Matt Dumba')
final_df=final_df.replace(to_replace='Matthew Nieto', value='Matt Nieto')
final_df=final_df.replace(to_replace='Jonathan Merrill', value='Jon Merrill')
final_df=final_df.replace(to_replace='Alex Petrovic', value='Alexander Petrovic')
final_df=final_df.replace(to_replace='Alex Steen', value='Alexander Steen')
final_df=final_df.replace(to_replace='Dan Cleary', value='Daniel Cleary')
final_df=final_df.replace(to_replace='Chris Tanev', value='Christopher Tanev')
final_df=final_df.replace(to_replace='T.J. Brodie', value='TJ Brodie')
final_df=final_df.replace(to_replace='Pat Maroon', value='Patrick Maroon')
final_df=final_df.replace(to_replace='Matt Carle', value='Matthew Carle')
final_df=final_df.replace(to_replace='Dave Moss', value='David Moss')
final_df=final_df.replace(to_replace='Vinny Prospal', value='Vaclav Prospal')
final_df=final_df.replace(to_replace='P.A. Parenteau', value='Pierre-Alexandre Parenteau')
final_df=final_df.replace(to_replace='T.J. Galiardi', value='TJ Galiardi')






### re-order dataframe neatly

final_df= final_df.sort_values(by=['Season','Player'])
final_df= final_df.reset_index()
final_df= final_df.drop(columns='index')

### fix all time values as a float in minutes
final_df[['mins','sec','ms']]=final_df.ATOI.str.split(':', expand=True)
final_df.sec= final_df.sec.astype(float)
final_df.mins= final_df.mins.astype(float)
final_df.ATOI= final_df.mins + (final_df.sec/60)
final_df= final_df.drop(columns=['mins','sec','ms'])

final_df[['mins','sec','ms']]=final_df['TOI(EV)'].str.split(':', expand=True)
final_df.sec= final_df.sec.astype(float)
final_df.mins= final_df.mins.astype(float)
final_df['TOI(EV)']= final_df.mins + (final_df.sec/60)
final_df= final_df.drop(columns=['mins','sec','ms'])

#### season+1 column for merge
final_df['Season+1']= final_df['Season'] + 1

final_df= final_df.drop(columns='Tm')

### final manual edit

final_df.loc[12473, ['Player','Season', 'Age','GP','GS','W','L','TplusOTL','GA','SA','SV',
                    'SV_Pct','GAA','SUT','GPS','MIN','QS','RBS','G','A','PTS','PIM',
                   'SOT_Att', 'SOT_Scored','SOT_Saved','SOT_Pct']]= ['Ryan Miller',2019, 39, 23, 19.0, 9.0 ,6.0 ,4.0, 64.0, 685.0,
                                                                    621.0, 0.907, 3.10, 0.0, 3.6, 1238.0, 11.0, 2.0, 0, 1,
                                                                    1, 0, 0.0, 0.0, 0.0 , 0.0 ]
final_df.loc[12474, ['Player','Season', 'Age','GP','GS','W','L','TplusOTL','GA','SA','SV',
                    'SV_Pct','GAA','SUT','GPS','MIN','QS','RBS','G','A','PTS','PIM',
                   'SOT_Att', 'SOT_Scored','SOT_Saved','SOT_Pct']]= ['Ryan Miller',2015, 35, 51, 51.0, 17.0 ,24.0 ,9.0, 137.0, 1634.0,
                                                                    1497.0, 0.916, 2.70, 1.0, 9.9, 3043, 25.0, 2.0, 0, 1,
                                                                    1, 2, 24.0, 7.0, 17.0 , 70.8 ]
final_df= final_df.drop(index= 6627, axis=1)

final_df= final_df.sort_values(by=['Season','Player'])

final_df= final_df.reset_index()
final_df= final_df.drop(columns='index')

In [55]:
final_df.head()

,Player,Season,Age,GP,GS,W,L,TplusOTL,GA,SA,SV,SV_Pct,GAA,SUT,GPS,MIN,QS,RBS,G,A,PTS,PIM,SOT_Att,SOT_Scored,SOT_Saved,SOT_Pct,Pos,PlusMinus,PS,EV_A,PP_A,SH_A,GW,S,S_Pct,ATOI,BLK,HIT,FOW,FOL,FO_Pct,CF,CA,CF_Pct,CF_Pct_rel,FF,FA,FF_Pct,FF_Pct_rel,oiSH_Pct,oiSV_Pct,PDO,oZS_Pct,dZS_Pct,TOI(EV),TK,GV,SAtt.,Thru_Pct,Season+1
0,Aaron Downey,2008.0,34.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,7.0,0.0,0.0,0.0,0.0,RW,0.0,0.3,1.0,0.0,0.0,0.0,2.0,50.0,5.216667,1.0,11.0,0.0,0.0,0.0,14.0,17.0,45.2,-11.4,12.0,13.0,48.0,-7.1,20.0,81.8,101.8,84.6,15.4,5.216667,0.0,2.0,2.0,100.0,2009.0
1,Aaron Johnson,2008.0,25.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0,8.0,33.0,0.0,0.0,0.0,0.0,D,19.0,3.0,3.0,0.0,0.0,1.0,27.0,11.1,14.150000,34.0,40.0,0.0,0.0,0.0,387.0,349.0,52.6,-3.5,306.0,272.0,52.9,-4.0,13.0,95.4,108.3,50.8,49.2,11.983333,8.0,9.0,57.0,47.4,2009.0
2,Aaron MacKenzie,2008.0,27.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,D,1.0,0.2,0.0,0.0,0.0,0.0,3.0,0.0,14.633333,8.0,6.0,0.0,0.0,0.0,56.0,47.0,54.4,9.9,46.0,34.0,57.5,12.3,3.1,100.0,103.1,50.0,50.0,13.216667,1.0,0.0,8.0,37.5,2009.0
3,Aaron Rome,2008.0,25.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,D,1.0,0.3,0.0,0.0,0.0,0.0,7.0,0.0,15.466667,8.0,12.0,0.0,0.0,0.0,99.0,79.0,55.6,9.3,79.0,56.0,58.5,14.6,7.1,91.9,99.0,71.9,28.1,14.283333,2.0,2.0,16.0,43.8,2009.0
4,Aaron Voros,2008.0,27.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,8.0,16.0,122.0,0.0,0.0,0.0,0.0,LW,-9.0,1.3,5.0,3.0,0.0,1.0,66.0,12.1,11.183333,8.0,113.0,4.0,6.0,40.0,509.0,421.0,54.7,0.2,380.0,355.0,51.7,-3.2,6.8,90.5,97.3,60.3,39.7,9.483333,6.0,11.0,108.0,61.1,2009.0

In [79]:
final_df.shape

(12474, 60)

**CONTRACTS**


clean new contract df
merge new contract file on stats ---> hopefully have more data to work with now
---make note that contracts were from jan 7, 09 to july 1, 21  ===> free agency begins on july 28; get list of free agents and compare  acutal signings with what my model predicts
---feature engineer position columns
---multi output regressor

In [60]:
path = r'C:\\Users\\Squatch\\Desktop\\Springboard Course\\Assignments\\Springboard\\Capstone 2\\Contracts'
import glob
xl_files = glob.glob(path + "/*cf_contracts.xlsx")

cf= xl_files[0]
cf_contracts= pd.read_excel(cf, engine='openpyxl')
cf_contracts= cf_contracts[cf_contracts.TYPE != 'Entry-Level']
cf_contracts= cf_contracts.drop(columns= ['Unnamed: 1','TEAM','EXTENSION','STRUCTURE', 'VALUE'])

cf_contracts.PLAYER =cf_contracts.PLAYER.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

cf_contracts['DATE']= pd.DatetimeIndex(cf_contracts.DATE).year
cf_contracts= cf_contracts.rename(columns={'PLAYER':'Player','DATE':'Season', 'CAP HIT': 'AAV'})

In [61]:
cf_contracts.head()

                Player  AGE     POS  Season      TYPE  LENGTH      AAV
0       Wayne Simmonds   32  RW, LW    2021  Standard       2   900000
1  Ryan Nugent-Hopkins   28   C, LW    2021  Standard       8  5125000
2       Trent Frederic   23   C, LW    2021  Standard       2  1050000
3        Blake Lizotte   23       C    2021  Standard       1   800000
4           Matt Nieto   28  LW, RW    2021  Standard       2   850000

In [62]:
cf_contracts.tail()

                 Player  AGE    POS  Season      TYPE  LENGTH      AAV
3735      Andy McDonald   31      C    2009  Standard       4  4700000
3737      George Parros   29     RW    2009  Standard       3   875000
3738  Henrik Zetterberg   28      C    2009  Standard      12  6083333
3739   Brendan Shanahan   39     LW    2009       35+       1   800000
3740       Jordan Staal   20  C, LW    2009  Standard       4  4000000

In [63]:
cf_contracts.shape

(3099, 7)

**ORGANIZE MULTIPLE POSITIONS**

In [ ]:
#### organize this position matrix. make sure to consoliate ld/rd, rd, ld all under 'D'
#### make sure only columns are c, rw, lw, d, g

In [66]:
y= cf_contracts.POS.str.split(',').str.join('|').str.get_dummies()

cols= ['C1','D1','LW1','RD1','RW1',
        'C2', 'D2','G','LD','LD/RD',
        'LW2', 'RD2','RW2']
y.columns= cols

y['C1']= y['C1'] + y['C2']

y['D1']=y['D1']+ y['RD1']+ y['D2']+ y['LD'] + y['LD/RD'] + y['RD2']
y.loc[(y.D1 ==2), 'D1'] = 1

y['LW1'] = y['LW1'] + y['LW2']

y['RW1']= y['RW1'] + y['RW2'] 

y= y.drop(columns =['C2','D2','RD1','LD','LD/RD','LW2','RD2','RW2'])

y= y.rename(columns={'C1':'Pos_C', 'D1':'Pos_D', 'LW1': 'Pos_LW', 'RW1': 'Pos_RW', 'G': 'Pos_G'})


updated_contracts= pd.merge(left=cf_contracts, right= y, how= 'outer', left_on=cf_contracts.index, right_on=y.index)

contracts_and_positions= updated_contracts[['Player','AGE', 'Pos_C','Pos_LW','Pos_RW', 'Pos_D',
                                            'Pos_G', 'Season', 'TYPE', 'LENGTH', 'AAV']]

In [67]:
contracts_and_positions

,Player,AGE,Pos_C,Pos_LW,Pos_RW,Pos_D,Pos_G,Season,TYPE,LENGTH,AAV
0,Wayne Simmonds,32,0,1,1,0,0,2021,Standard,2,900000
1,Ryan Nugent-Hopkins,28,1,1,0,0,0,2021,Standard,8,5125000
2,Trent Frederic,23,1,1,0,0,0,2021,Standard,2,1050000
3,Blake Lizotte,23,1,0,0,0,0,2021,Standard,1,800000
4,Matt Nieto,28,0,1,1,0,0,2021,Standard,2,850000
...,...,...,...,...,...,...,...,...,...,...,...
3094,Andy McDonald,31,1,0,0,0,0,2009,Standard,4,4700000
3095,George Parros,29,0,0,1,0,0,2009,Standard,3,875000
3096,Henrik Zetterberg,28,1,0,0,0,0,2009,Standard,12,6083333
3097,Brendan Shanahan,39,0,1,0,0,0,2009,35+,1,800000
3098,Jordan Staal,20,1,1,0,0,0,2009,Standard,4,4000000

## Merge

In [70]:
finaldf_list =final_df.to_dict()

In [71]:
contracts_dict2= contracts_and_positions.to_dict('records')

In [72]:
new_df_list2=[]

missed_players2=[]
for d in contracts_dict2:
    
    try:
    #d= contracts_list_temp[0]
        year= d['Season']
        years = [year-3, year-2, year-1]
        c=final_df[(final_df.Player == d['Player']) & (final_df.Season.isin(years))]
        b=c.groupby('Player').mean().reset_index()
        b=b.to_dict('records')[0]
    
        
        for k,v in d.items():
            b[k]=v
        new_df_list2.append(b)
        #print (b[0])
    except Exception as e:
        missed_players2.append(d)
        #print (e)
        
        
        #print(d)

combo_df2=pd.DataFrame(new_df_list2)
missed_df2= pd.DataFrame(missed_players2)

In [73]:
combo_df2.head()

,Player,Season,Age,GP,GS,W,L,TplusOTL,GA,SA,SV,SV_Pct,GAA,SUT,GPS,MIN,QS,RBS,G,A,PTS,PIM,SOT_Att,SOT_Scored,SOT_Saved,SOT_Pct,PlusMinus,PS,EV_A,PP_A,SH_A,GW,S,S_Pct,ATOI,BLK,HIT,FOW,FOL,FO_Pct,CF,CA,CF_Pct,CF_Pct_rel,FF,FA,FF_Pct,FF_Pct_rel,oiSH_Pct,oiSV_Pct,PDO,oZS_Pct,dZS_Pct,TOI(EV),TK,GV,SAtt.,Thru_Pct,Season+1,AGE,Pos_C,Pos_LW,Pos_RW,Pos_D,Pos_G,TYPE,LENGTH,AAV
0,Wayne Simmonds,2021,31.0,61.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.666667,10.666667,21.333333,70.000000,0.333333,0.0,0.333333,0.000000,-13.333333,1.166667,6.333333,4.333333,0.000000,1.000000,112.666667,9.600000,14.188889,24.000000,115.333333,13.000000,21.333333,37.566667,670.666667,716.333333,48.9,-0.533333,499.333333,519.000000,49.833333,-0.066667,6.500000,91.733333,98.233333,49.300000,50.700000,12.458333,22.333333,25.000000,231.5,59.566667,2020.0,32,0,1,1,0,0,Standard,2,900000
1,Ryan Nugent-Hopkins,2021,26.0,66.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.000000,33.000000,55.000000,27.000000,3.000000,1.0,2.000000,16.666667,-5.333333,5.433333,13.666667,8.000000,0.333333,3.000000,171.666667,12.733333,20.444444,37.666667,42.666667,219.000000,249.000000,47.133333,893.000000,966.333333,48.6,0.500000,667.666667,718.000000,48.700000,0.366667,9.733333,90.600000,100.300000,53.900000,46.100000,15.041667,45.000000,42.666667,330.5,56.833333,2020.0,28,1,1,0,0,0,Standard,8,5125000
2,Trent Frederic,2021,21.0,19.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.333333,0.333333,1.666667,26.666667,0.000000,0.0,0.000000,0.000000,-4.333333,-0.200000,1.333333,0.000000,0.000000,1.000000,21.333333,3.033333,9.027778,6.000000,29.000000,26.000000,24.333333,34.500000,150.666667,171.333333,35.2,-16.400000,113.333333,124.000000,34.366667,-19.300000,1.466667,91.233333,63.066667,49.400000,50.600000,7.691667,4.666667,3.000000,12.5,79.300000,2020.0,23,1,1,0,0,0,Standard,2,1050000
3,Blake Lizotte,2021,22.0,35.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,8.000000,11.000000,12.000000,0.000000,0.0,0.000000,0.000000,-1.000000,0.700000,1.666667,0.666667,0.666667,0.000000,43.333333,4.666667,12.622222,14.666667,24.666667,165.333333,162.666667,50.333333,402.000000,348.333333,56.5,10.633333,302.666667,257.666667,56.633333,11.666667,4.633333,87.766667,92.366667,45.933333,54.066667,11.516667,9.666667,9.000000,80.0,53.200000,2020.0,23,1,0,0,0,0,Standard,1,800000
4,Matt Nieto,2021,27.0,54.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.666667,11.333333,17.000000,6.000000,0.000000,0.0,0.000000,0.000000,1.333333,1.066667,4.666667,0.000000,1.000000,1.333333,72.000000,8.400000,13.755556,22.666667,37.333333,5.000000,4.666667,50.000000,570.666667,568.333333,49.0,-0.800000,420.000000,414.666667,49.333333,-0.733333,8.033333,91.466667,99.500000,43.266667,56.733333,10.966667,15.000000,11.000000,139.5,66.700000,2020.0,28,0,1,1,0,0,Standard,2,850000

In [74]:
combo_df2.shape

(2997, 68)

In [76]:
clean_combo= combo_df2[['Player', 'Season', 'AGE', 'Pos_C' ,'Pos_LW', 'Pos_RW', 'Pos_D','Pos_G', 
                      'GP', 'G', 'A' ,'PTS' , 'PlusMinus', 'ATOI' ,'TOI(EV)', 'PIM', 'PS', 'EV_A', 'PP_A',
                      'SH_A', 'GW', 'S', 'S_Pct', 'BLK', 'HIT', 'FOW', 'FOL', 'FO_Pct', 'CF', 'CA',
                      'CF_Pct', 'CF_Pct_rel', 'FF', 'FA', 'FF_Pct', 'FF_Pct_rel', 'oiSH_Pct', 
                      'oiSV_Pct', 'PDO', 'oZS_Pct', 'dZS_Pct', 'TK', 'GV', 'SAtt.', 'Thru_Pct',
                      'SOT_Att', 'SOT_Scored', 'SOT_Saved', 'SOT_Pct', 'GS', 'W' , 'L', 'TplusOTL',
                      'GA', 'SA', 'SV', 'SV_Pct', 'GAA', 'SUT', 'GPS', 'MIN', 'QS', 'RBS', 'TYPE',
                      'LENGTH', 'AAV']]

In [77]:
clean_combo.shape

(2997, 66)

In [78]:
clean_combo.to_csv('stats_and_contracts.csv')

In [11]:
#DROP all names 2010 and before, matt read 2011 (no stats prior), drop jagr 2011 (no stats prior),fasth 2012 nsp,
#### 6774 bc its a duplicate of the one before it,1545 because hes irrelevant, kovelev 2013 (didnt play in us in 11-12),
#### karri ramo 2013 bc only stats in 2008, grebeshkov 2013 bc same as before, ranger 2013 bc same, andersen 2013 nsp,
#### lack 2013 nsp, svedberg bc only 2 years and one year is duplicated, kostka 2014 bc of criteria (3 years prior),
#### lehtera 2014 criteria, noreau 2014 criteria, moses 2015 criteria, medvedev 2015 criteria,  cannata 2015 criteria,
#### cal oreilly 2015 criteria, tikhonov 2015 criteria, raffl 2015 nsp, brossoit 2016 nsp, rodin 2016 nsp, l johansson 2016 nsp,
#### domingue 2016 nsp, vasi 2016 nsp, will oneill criteria, berube 2016 nsp, kalinin 2016 nsp, j morrow 2016 criteria, 
#### matt murray 2016 nsp, shipachyov 2017 nsp, korpisalo 2017 nsp, ullmark 2017 nsp, dano 2017 nsp, anton forsberg 2017 nsp,
#### loverde 2017 nsp, vecchione 2017 nsp, oleksy 2017 criteria, c lindgren 2018 nsp, koskinen 2018 criteria, francouz 2018 nsp,
#### kiselevich 2018 nsp, benning 2018 criteria, m hutchinson 2018 criteria (WHY IS 15-17 not there??), brissoit 2018 criteria,
#### kovy 2018 criteria, kovar 2018 nsp, ladue 2018 criteria, rittich 2018 cirteria, persson 19 criteria, delia 19 nsp,
### sparks 2019 nsp, merzlikins 2019 criteria, blais 2019 crit, hammond 2019 duplicate and crit, hakanpaa 19 crit, sanford 19 crit,
### (why is 2017 missing??), gusev 19 crit, 
### PLAYERS NEED TO PLAY 3 YEARS PRIOR TO NEW CONTRACT IN THE NHL