In [195]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import os
import seaborn as sns
from datetime import datetime
import fnmatch
import sys
import glob

In [107]:
contracts= pd.read_excel('Contracts/contracts.xlsx', engine='openpyxl')

In [108]:
######
order in order of date (descending ) and indexed on player name (??) so everything in the 
line stays together


also probably make a 'for loop' to loop through stats folders and make one large stat file


how should i handle contract extensions????

SyntaxError: invalid syntax (<ipython-input-108-da41f35f3407>, line 2)

In [109]:
contracts

,PLAYER,Unnamed: 1,AGE,POS,TEAM,DATE,TYPE,EXTENSION,STRUCTURE,LENGTH,VALUE,CAP HIT
0,Derek Joslin,NaN,19,LD,SJS,2006-12-28,Entry-Level,NaN,2-way,3,1550000,516667
1,Stephane Robidas,NaN,29,RD,DAL,2006-12-06,Standard,✔,1-way,3,4500000,1500000
2,Brendan Mikkelson,NaN,19,D,ANA,2006-11-30,Entry-Level,NaN,2-way,3,1845000,615000
3,Niklas Kronwall,NaN,25,LD,DET,2006-11-23,Standard,✔,1-way,5,15000000,3000000
4,Cal O'Reilly,NaN,20,C,NSH,2006-11-06,Entry-Level,NaN,2-way,3,1600000,500000
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Jakub Galvas,NaN,22,LD,CHI,2021-05-06,Entry-Level,NaN,2-way,2,1850000,867500
796,Kirill Semyonov,NaN,26,C,TOR,2021-05-05,Entry-Level,NaN,2-way,1,825000,825000
797,Elliot Desnoyers,NaN,19,LW,PHI,2021-05-05,Entry-Level,NaN,2-way,3,2625000,845833
798,Nico Daws,NaN,20,G,NJD,2021-05-05,Entry-Level,NaN,2-way,3,2775000,850833
799,Anton Forsberg,NaN,28,G,OTT,2021-05-05,Standard,✔,1-way,1,900000,900000

In [111]:
contracts= contracts.sort_values('DATE', ascending=True)

In [112]:
contracts

,PLAYER,Unnamed: 1,AGE,POS,TEAM,DATE,TYPE,EXTENSION,STRUCTURE,LENGTH,VALUE,CAP HIT
49,Fedor Tyutin,NaN,23,LD,NYR,2006-08-02,Standard,NaN,1-way,2,1975000,987500
48,Daniel Briere,NaN,28,C,BUF,2006-08-03,Standard,NaN,1-way,1,5000000,5000000
47,Brad Boyes,NaN,24,"RW, C",BOS,2006-08-04,Standard,NaN,1-way,2,3000000,1500000
46,Marc-André Fleury,NaN,21,G,PIT,2006-08-05,Standard,NaN,1-way,2,2598500,1294750
45,Milan Jurcina,NaN,23,D,BOS,2006-08-07,Standard,NaN,1-way,1,500000,500000
...,...,...,...,...,...,...,...,...,...,...,...,...
754,Joe Snively,NaN,25,LW,WSH,2021-06-03,Standard,✔,2-way,1,750000,750000
752,Samuel Ersson,NaN,21,G,PHI,2021-06-03,Entry-Level,NaN,2-way,3,2775000,859167
751,Nils Lundkvist,NaN,20,RD,NYR,2021-06-03,Entry-Level,NaN,2-way,3,5325000,925000
750,Mattias Norlinder,NaN,21,LD,MTL,2021-06-03,Entry-Level,NaN,2-way,3,2775000,859167
753,Andreas Wingerli,NaN,23,C,COL,2021-06-03,Entry-Level,NaN,2-way,1,925000,842500

In [113]:
contracts.columns

Index(['PLAYER', 'Unnamed: 1', 'AGE', 'POS', 'TEAM', 'DATE', 'TYPE',
       'EXTENSION', 'STRUCTURE', 'LENGTH', 'VALUE', 'CAP HIT'],
      dtype='object')

In [114]:
contracts =contracts.drop(columns='Unnamed: 1')

In [115]:
contracts.head()

,PLAYER,AGE,POS,TEAM,DATE,TYPE,EXTENSION,STRUCTURE,LENGTH,VALUE,CAP HIT
49,Fedor Tyutin,23,LD,NYR,2006-08-02,Standard,NaN,1-way,2,1975000,987500
48,Daniel Briere,28,C,BUF,2006-08-03,Standard,NaN,1-way,1,5000000,5000000
47,Brad Boyes,24,"RW, C",BOS,2006-08-04,Standard,NaN,1-way,2,3000000,1500000
46,Marc-André Fleury,21,G,PIT,2006-08-05,Standard,NaN,1-way,2,2598500,1294750
45,Milan Jurcina,23,D,BOS,2006-08-07,Standard,NaN,1-way,1,500000,500000

In [116]:
non_ext= contracts[contracts['EXTENSION'].isnull()]

In [117]:
non_ext.head(40)

,PLAYER,AGE,POS,TEAM,DATE,TYPE,EXTENSION,STRUCTURE,LENGTH,VALUE,CAP HIT
49,Fedor Tyutin,23,LD,NYR,2006-08-02,Standard,NaN,1-way,2,1975000,987500
48,Daniel Briere,28,C,BUF,2006-08-03,Standard,NaN,1-way,1,5000000,5000000
47,Brad Boyes,24,"RW, C",BOS,2006-08-04,Standard,NaN,1-way,2,3000000,1500000
46,Marc-André Fleury,21,G,PIT,2006-08-05,Standard,NaN,1-way,2,2598500,1294750
45,Milan Jurcina,23,D,BOS,2006-08-07,Standard,NaN,1-way,1,500000,500000
44,Michael Sauer,19,D,NYR,2006-08-08,Entry-Level,NaN,2-way,3,1770000,590000
43,Christian Backman,26,LD,STL,2006-08-09,Standard,NaN,1-way,3,6900000,2300000
41,Nate Guenin,23,RD,PHI,2006-08-16,Entry-Level,NaN,2-way,2,1700000,585000
40,Phil Kessel,18,RW,BOS,2006-08-17,Entry-Level,NaN,2-way,3,6600000,850000
39,Kevin Bieksa,25,RD,VAN,2006-08-17,Standard,NaN,1-way,2,1050000,525000
38,Patrice Bergeron,21,C,BOS,2006-08-22,Standard,NaN,1-way,5,23750000,4750000
37,Johan Franzen,26,"RW, LW",DET,2006-08-25,Standard,NaN,1-way,3,2825000,941667
36,Jean-Pierre Dumont,28,RW,NSH,2006-08-29,Standard,NaN,1-way,2,4500000,2250000
35,Trevor Daley,22,RD,DAL,2006-08-31,Standard,NaN,1-way,2,1575000,787500
34,Ilya Bryzgalov,26,G,ANA,2006-09-06,Standard,NaN,1-way,2,2362500,1181250
33,Kari Lehtonen,22,G,ATL,2006-09-07,Standard,NaN,1-way,2,3700000,1850000
32,Ryan Miller,26,G,BUF,2006-09-08,Standard,NaN,1-way,3,8000000,2666667
30,Simon Gagne,26,RW,PHI,2006-09-11,Standard,NaN,1-way,5,26250000,5250000
28,Joffrey Lupul,22,"LW, RW",EDM,2006-09-12,Standard,NaN,1-way,3,6935000,2311667
27,Rick DiPietro,24,G,NYI,2006-09-12,Standard,NaN,1-way,15,67500000,4500000
26,Matt Stajan,22,C,TOR,2006-09-13,Standard,NaN,1-way,2,1750000,875000
25,Ryan Kesler,21,"C, RW",VAN,2006-09-14,Standard,NaN,1-way,1,1900000,1900000
24,Tim Gleason,23,D,LAK,2006-09-17,Standard,NaN,1-way,2,2350000,1175000
23,Dustin Brown,21,"RW, LW",LAK,2006-09-17,Standard,NaN,1-way,2,2350000,1175000
20,Derick Brassard,18,"LW, C",CBJ,2006-09-21,Entry-Level,NaN,2-way,3,3740000,821667
21,Dan Hamhuis,23,LD,NSH,2006-09-21,Standard,NaN,1-way,4,8000000,2000000
19,Oskars Bartulis,20,D,PHI,2006-09-23,Entry-Level,NaN,2-way,3,1550000,516666
18,Darren Helm,19,"C, LW, RW",DET,2006-09-27,Entry-Level,NaN,2-way,3,1798332,597833
16,Michael Grabner,18,"LW, RW",VAN,2006-09-28,Entry-Level,NaN,2-way,3,2700000,850000
15,Nikolai Zherdev,21,LW,CBJ,2006-09-28,Standard,NaN,1-way,3,7500000,2500000
14,Guillaume Latendresse,19,LW,MTL,2006-09-29,Entry-Level,NaN,2-way,3,2550000,850000
11,Jordan Staal,17,"C, LW",PIT,2006-10-02,Entry-Level,NaN,2-way,3,6600000,850000
12,Kris Letang,19,RD,PIT,2006-10-02,Entry-Level,NaN,2-way,3,2505000,638333
10,Brian Gionta,27,RW,NJD,2006-10-03,Standard,NaN,1-way,3,12000000,4000000
9,Paul Martin,25,LD,NJD,2006-10-03,Standard,NaN,1-way,1,2000000,2000000
7,Jonathan Bernier,18,G,LAK,2006-10-13,Entry-Level,NaN,2-way,3,2700000,850000
6,Tuomo Ruutu,23,"LW, RW",CHI,2006-10-13,Standard,NaN,1-way,2,3750000,1875000
5,James Neal,19,"RW, LW",DAL,2006-10-20,Entry-Level,NaN,2-way,3,2465000,646667
4,Cal O'Reilly,20,C,NSH,2006-11-06,Entry-Level,NaN,2-way,3,1600000,500000
2,Brendan Mikkelson,19,D,ANA,2006-11-30,Entry-Level,NaN,2-way,3,1845000,615000

In [ ]:
#####STATS CONSOLIDATION

In [141]:
cwd_2= os.path.abspath('Stats')
stat_folders= os.listdir(cwd_2)

In [169]:
cwd_2

'C:\\Users\\Squatch\\Desktop\\Springboard Course\\Assignments\\Springboard\\Capstone 2\\Stats'

In [189]:
stat_folders

['1999-2000',
 '2000-01',
 '2001-02',
 '2002-03',
 '2003-04',
 '2005-06',
 '2006-07',
 '2007-08',
 '2008-09',
 '2009-10',
 '2010-11',
 '2011-12',
 '2012-13',
 '2013-14',
 '2014-15',
 '2015-16',
 '2016-17',
 '2017-18',
 '2018-19',
 '2019-20',
 '2020-21']

In [197]:
C:\Users\Squatch\Desktop\Springboard Course\Assignments\Springboard\Capstone 2\Stats

SyntaxError: unexpected character after line continuation character (<ipython-input-197-3ff683702dbc>, line 1)

In [199]:
path = r'C:\Users\Squatch\Desktop\Springboard Course\Assignments\Springboard\Capstone 2\Stats'
files = os.listdir(path)
files

['1999-2000',
 '2000-01',
 '2001-02',
 '2002-03',
 '2003-04',
 '2005-06',
 '2006-07',
 '2007-08',
 '2008-09',
 '2009-10',
 '2010-11',
 '2011-12',
 '2012-13',
 '2013-14',
 '2014-15',
 '2015-16',
 '2016-17',
 '2017-18',
 '2018-19',
 '2019-20',
 '2020-21']

In [209]:
try_this = glob.glob('./Stats\**\*.xlsx', 
                   recursive = True)
for file in try_this:
    print(file)

./Stats\1999-2000\1999-00goalies.xlsx
./Stats\1999-2000\1999-00skater.xlsx
./Stats\2000-01\2000-01goalies.xlsx
./Stats\2000-01\2000-01skaters.xlsx
./Stats\2001-02\2001-02goalies.xlsx
./Stats\2001-02\2001-02skaters.xlsx
./Stats\2002-03\2002-03goalies.xlsx
./Stats\2002-03\2002-03skaters.xlsx
./Stats\2003-04\2003-04goalies.xlsx
./Stats\2003-04\2003-04skaters.xlsx
./Stats\2005-06\2005-06goalies.xlsx
./Stats\2005-06\2005-06skaters.xlsx
./Stats\2006-07\2006-07goalies.xlsx
./Stats\2006-07\2006-07skaters.xlsx
./Stats\2007-08\2007-08goalies.xlsx
./Stats\2007-08\2007-08skaters.xlsx
./Stats\2007-08\2007-08skaters_adv.xlsx
./Stats\2008-09\2008-09goalies.xlsx
./Stats\2008-09\2008-09goalies_shootout.xlsx
./Stats\2008-09\2008-09skaters.xlsx
./Stats\2008-09\2008-09skaters_adv.xlsx
./Stats\2008-09\2008-09skaters_shootout.xlsx
./Stats\2009-10\2009-10goalies.xlsx
./Stats\2009-10\2009-10goalies_shootout.xlsx
./Stats\2009-10\2009-10skaters.xlsx
./Stats\2009-10\2009-10skaters_adv.xlsx
./Stats\2009-10\2009-10skaters_shootout.xlsx
./Stats\2010-11\2010-11goalies.xlsx
./Stats\2010-11\2010-11goalies_shootout.xlsx
./Stats\2010-11\2010-11skaters.xlsx
./Stats\2010-11\2010-11skaters_adv.xlsx
./Stats\2010-11\2010-11skaters_shootout.xlsx
./Stats\2011-12\2011-12goalies.xlsx
./Stats\2011-12\2011-12goalies_shootout.xlsx
./Stats\2011-12\2011-12skaters.xlsx
./Stats\2011-12\2011-12skaters_adv.xlsx
./Stats\2011-12\2011-12skaters_shootout.xlsx
./Stats\2012-13\2012-13goalies.xlsx
./Stats\2012-13\2012-13goalies_shootout.xlsx
./Stats\2012-13\2012-13skaters.xlsx
./Stats\2012-13\2012-13skaters_adv.xlsx
./Stats\2012-13\2012-13skaters_shootout.xlsx
./Stats\2013-14\2013-14goalies.xlsx
./Stats\2013-14\2013-14goalies_shootout.xlsx
./Stats\2013-14\2013-14skaters.xlsx
./Stats\2013-14\2013-14skaters_adv.xlsx
./Stats\2013-14\2013-14skaters_shootout.xlsx
./Stats\2014-15\2014-15goalies.xlsx
./Stats\2014-15\2014-15goalies_shootout.xlsx
./Stats\2014-15\2014-15skaters.xlsx
./Stats\2014-15\2014-15skaters_adv.xlsx
./Stats\2014-15\2014-15skaters_misc.xlsx
./Stats\2015-16\2015-16goalies.xlsx
./Stats\2015-16\2015-16goalies_shootout.xlsx
./Stats\2015-16\2015-16skaters.xlsx
./Stats\2015-16\2015-16skaters_adv.xlsx
./Stats\2015-16\2015-16skaters_misc.xlsx
./Stats\2016-17\2016-17goalies.xlsx
./Stats\2016-17\2016-17goalies_shootout.xlsx
./Stats\2016-17\2016-17skaters.xlsx
./Stats\2016-17\2016-17skaters_adv.xlsx
./Stats\2016-17\2016-17skaters_misc.xlsx
./Stats\2017-18\2017-18goalie.xlsx
./Stats\2017-18\2017-18goalie_shootout.xlsx
./Stats\2017-18\2017-18skaters.xlsx
./Stats\2017-18\2017-18skaters_adv.xlsx
./Stats\2017-18\2017-18skater_misc.xlsx
./Stats\2018-19\2018-19goalie.xlsx
./Stats\2018-19\2018-19goalie_shootout.xlsx
./Stats\2018-19\2018-19skaters.xlsx
./Stats\2018-19\2018-19skaters_adv.xlsx
./Stats\2018-19\2018-19skaters_misc.xlsx
./Stats\2019-20\2019-20goalies.xlsx
./Stats\2019-20\2019-20goalie_shootout.xlsx
./Stats\2019-20\2019-20skater.xlsx
./Stats\2019-20\2019-20skater_adv.xlsx
./Stats\2019-20\2019-20skater_misc.xlsx
./Stats\2020-21\2020-21goalies.xlsx
./Stats\2020-21\2020-21goalie_shootout.xlsx
./Stats\2020-21\2020-21skaters.xlsx
./Stats\2020-21\2020-21skater_adv.xlsx
./Stats\2020-21\2020-21skater_misc.xlsx

In [210]:
files_xlsx= [f for f in try_this if f[-4:] == "xlsx"]
files_xlsx

['./Stats\\1999-2000\\1999-00goalies.xlsx',
 './Stats\\1999-2000\\1999-00skater.xlsx',
 './Stats\\2000-01\\2000-01goalies.xlsx',
 './Stats\\2000-01\\2000-01skaters.xlsx',
 './Stats\\2001-02\\2001-02goalies.xlsx',
 './Stats\\2001-02\\2001-02skaters.xlsx',
 './Stats\\2002-03\\2002-03goalies.xlsx',
 './Stats\\2002-03\\2002-03skaters.xlsx',
 './Stats\\2003-04\\2003-04goalies.xlsx',
 './Stats\\2003-04\\2003-04skaters.xlsx',
 './Stats\\2005-06\\2005-06goalies.xlsx',
 './Stats\\2005-06\\2005-06skaters.xlsx',
 './Stats\\2006-07\\2006-07goalies.xlsx',
 './Stats\\2006-07\\2006-07skaters.xlsx',
 './Stats\\2007-08\\2007-08goalies.xlsx',
 './Stats\\2007-08\\2007-08skaters.xlsx',
 './Stats\\2007-08\\2007-08skaters_adv.xlsx',
 './Stats\\2008-09\\2008-09goalies.xlsx',
 './Stats\\2008-09\\2008-09goalies_shootout.xlsx',
 './Stats\\2008-09\\2008-09skaters.xlsx',
 './Stats\\2008-09\\2008-09skaters_adv.xlsx',
 './Stats\\2008-09\\2008-09skaters_shootout.xlsx',
 './Stats\\2009-10\\2009-10goalies.xlsx',
 './Stats\\2009-10\\2009-10goalies_shootout.xlsx',
 './Stats\\2009-10\\2009-10skaters.xlsx',
 './Stats\\2009-10\\2009-10skaters_adv.xlsx',
 './Stats\\2009-10\\2009-10skaters_shootout.xlsx',
 './Stats\\2010-11\\2010-11goalies.xlsx',
 './Stats\\2010-11\\2010-11goalies_shootout.xlsx',
 './Stats\\2010-11\\2010-11skaters.xlsx',
 './Stats\\2010-11\\2010-11skaters_adv.xlsx',
 './Stats\\2010-11\\2010-11skaters_shootout.xlsx',
 './Stats\\2011-12\\2011-12goalies.xlsx',
 './Stats\\2011-12\\2011-12goalies_shootout.xlsx',
 './Stats\\2011-12\\2011-12skaters.xlsx',
 './Stats\\2011-12\\2011-12skaters_adv.xlsx',
 './Stats\\2011-12\\2011-12skaters_shootout.xlsx',
 './Stats\\2012-13\\2012-13goalies.xlsx',
 './Stats\\2012-13\\2012-13goalies_shootout.xlsx',
 './Stats\\2012-13\\2012-13skaters.xlsx',
 './Stats\\2012-13\\2012-13skaters_adv.xlsx',
 './Stats\\2012-13\\2012-13skaters_shootout.xlsx',
 './Stats\\2013-14\\2013-14goalies.xlsx',
 './Stats\\2013-14\\2013-14goalies_shootout.xlsx',
 './Stats\\2013-14\\2013-14skaters.xlsx',
 './Stats\\2013-14\\2013-14skaters_adv.xlsx',
 './Stats\\2013-14\\2013-14skaters_shootout.xlsx',
 './Stats\\2014-15\\2014-15goalies.xlsx',
 './Stats\\2014-15\\2014-15goalies_shootout.xlsx',
 './Stats\\2014-15\\2014-15skaters.xlsx',
 './Stats\\2014-15\\2014-15skaters_adv.xlsx',
 './Stats\\2014-15\\2014-15skaters_misc.xlsx',
 './Stats\\2015-16\\2015-16goalies.xlsx',
 './Stats\\2015-16\\2015-16goalies_shootout.xlsx',
 './Stats\\2015-16\\2015-16skaters.xlsx',
 './Stats\\2015-16\\2015-16skaters_adv.xlsx',
 './Stats\\2015-16\\2015-16skaters_misc.xlsx',
 './Stats\\2016-17\\2016-17goalies.xlsx',
 './Stats\\2016-17\\2016-17goalies_shootout.xlsx',
 './Stats\\2016-17\\2016-17skaters.xlsx',
 './Stats\\2016-17\\2016-17skaters_adv.xlsx',
 './Stats\\2016-17\\2016-17skaters_misc.xlsx',
 './Stats\\2017-18\\2017-18goalie.xlsx',
 './Stats\\2017-18\\2017-18goalie_shootout.xlsx',
 './Stats\\2017-18\\2017-18skaters.xlsx',
 './Stats\\2017-18\\2017-18skaters_adv.xlsx',
 './Stats\\2017-18\\2017-18skater_misc.xlsx',
 './Stats\\2018-19\\2018-19goalie.xlsx',
 './Stats\\2018-19\\2018-19goalie_shootout.xlsx',
 './Stats\\2018-19\\2018-19skaters.xlsx',
 './Stats\\2018-19\\2018-19skaters_adv.xlsx',
 './Stats\\2018-19\\2018-19skaters_misc.xlsx',
 './Stats\\2019-20\\2019-20goalies.xlsx',
 './Stats\\2019-20\\2019-20goalie_shootout.xlsx',
 './Stats\\2019-20\\2019-20skater.xlsx',
 './Stats\\2019-20\\2019-20skater_adv.xlsx',
 './Stats\\2019-20\\2019-20skater_misc.xlsx',
 './Stats\\2020-21\\2020-21goalies.xlsx',
 './Stats\\2020-21\\2020-21goalie_shootout.xlsx',
 './Stats\\2020-21\\2020-21skaters.xlsx',
 './Stats\\2020-21\\2020-21skater_adv.xlsx',
 './Stats\\2020-21\\2020-21skater_misc.xlsx']

In [211]:
df= pd.DataFrame()

In [214]:
for xl in files_xlsx:
    data= pd.read_excel(xl, engine= 'openpyxl')
    df= df.append(data)

In [215]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Goalie Stats,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Tm,Per Game,Adjusted,Plus/Minus,Possession Quality,Point Shares,Shootouts,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,Rk,Player,Age,Tm,GP,GS,W,L,T/O,GA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Jean-Sebastien Aubin,22,PIT,51,NaN,23,21,3,120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tom Barrasso,34,TOT,25,NaN,8,11,2,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Tom Barrasso,34,PIT,18,NaN,5,7,2,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Tom Barrasso,34,OTT,7,NaN,3,4,0,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,1007,Zachary Jones,20,NYR,NaN,10,1,NaN,0.4,0.4,...,NaN,0,0,6,3.5,0.2,0,NaN,NaN,NaN
1071,1008,Zachary Senyshyn,23,BOS,NaN,8,0,NaN,0,0,...,NaN,0,0,0,1,-0.2,0,NaN,NaN,NaN
1072,1009,Zack Kassian,30,EDM,NaN,27,2,NaN,0.11,0.19,...,NaN,0.07,3,8,4.7,-0.2,0,NaN,NaN,NaN
1073,1010,Zack MacEwen,24,VAN,NaN,34,1,NaN,0.03,0.06,...,NaN,0.03,2,10,4,-0.5,0,NaN,NaN,NaN
1074,1011,Zdeno Chara,43,WSH,NaN,55,3,NaN,0.15,0.18,...,NaN,0.04,3,44,18.2,0,0,NaN,NaN,NaN

In [230]:
g0809=pd.DataFrame()
g0809= pd.read_excel('./Stats/2008-09/2008-09goalies.xlsx', engine= 'openpyxl')
g0809

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Goalie Stats,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Goalie Stats.2,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Scoring,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Rk,Player,Age,Tm,GP,GS,W,L,T/O,GA,...,MIN,QS,QS%,RBS,GA%-,GSAA,G,A,PTS,PIM
1,1,Craig Anderson,27,FLA,31,27,15,7,5,74,...,1636,16,0.593,6,83,15.4,0,1,1,2
2,2,Alex Auld,28,OTT,43,38,16,18,7,101,...,2449,22,0.579,4,97,3.41,0,0,0,2
3,3,Niklas Backstrom,30,MIN,71,71,37,24,8,159,...,4088,47,0.662,9,84,29.42,0,0,0,6
4,4,Martin Biron,31,PHI,55,53,29,19,5,146,...,3177,29,0.547,7,93,11.21,0,4,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,85,Steve Valiquette,31,NYR,15,12,5,5,2,39,...,823,7,0.583,1,101,-0.47,0,1,1,2
98,86,Semyon Varlamov,20,WSH,6,5,4,0,1,13,...,329,4,0.8,1,NaN,NaN,0,0,0,2
99,87,Tomas Vokoun,32,FLA,59,55,26,23,6,138,...,3324,33,0.6,4,81,31.75,0,1,1,2
100,88,Cam Ward,24,CAR,68,68,39,23,5,160,...,3928,43,0.632,10,92,13.96,0,1,1,4
101,89,Kevin Weekes,33,NJD,16,13,7,5,0,32,...,795,8,0.615,1,88,4.51,0,0,0,0

In [231]:
g0809.iloc[0, :]

Unnamed: 0            Rk
Unnamed: 1        Player
Unnamed: 2           Age
Unnamed: 3            Tm
Goalie Stats          GP
Unnamed: 5            GS
Unnamed: 6             W
Unnamed: 7             L
Unnamed: 8           T/O
Unnamed: 9            GA
Unnamed: 10           SA
Unnamed: 11           SV
Unnamed: 12          SV%
Goalie Stats.1       GAA
Unnamed: 14           SO
Unnamed: 15          GPS
Goalie Stats.2       MIN
Unnamed: 17           QS
Unnamed: 18          QS%
Unnamed: 19          RBS
Unnamed: 20         GA%-
Unnamed: 21         GSAA
Scoring                G
Unnamed: 23            A
Unnamed: 24          PTS
Unnamed: 25          PIM
Name: 0, dtype: object

In [232]:
g_shootout_0809=pd.DataFrame()
g_shootout_0809= pd.read_excel('./Stats/2008-09/2008-09goalies_shootout.xlsx', engine= 'openpyxl')
g_shootout_0809

              Player Team Att. Made Miss  Pct.
0   Jeff Deslauriers  EDM    3    0    3   100
1      Johan Hedberg  ATL   13    1   12  92.3
2   Mikael Tellqvist  PHX    8    1    7  87.5
3    Andrew Raycroft  COL    8    1    7  87.5
4       Jonas Hiller  ANA   31    5   26  83.9
..               ...  ...  ...  ...  ...   ...
62   Pascal Leclaire  CBJ    3    2    1  33.3
63   Jason LaBarbera  LAK   16   11    5  31.3
64    Cory Schneider  VAN    3    3    0     0
65       Matt Climie  DAL    2    2    0     0
66      Justin Pogge  TOR    2    2    0     0

[67 rows x 6 columns]

In [ ]:
goalies_0809= pd.merge()